<!doctype HTML>
<html>
<head>
  <title>Vue project</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css" />
</head>
<style>
 .container ul li {
   margin-top: 10px;
 }
 .myblock {
   width: 400px;
   display: block;
   margin: 0 auto;
   text-align: center;
 }
</style>
<body>
    <section class="hero is-primary has-text-centered">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Tasks App
        </h1>
        <h2 class="subtitle">
          The best place to manage your tasks!
        </h2>
      </div>
    </div>
  </section>
  <div id="app" class="container">
    <div class="myblock">
        <!-- <h2 class="title">All</h2>
      <ul>
        <li v-for="item in tasks">
          {{item.message}}
        </li>
      </ul> -->

      <div class="field has-addons" style="width: 300px;margin: 60px auto;">
        <div class="control">
          <input class="input" type="text" v-model="newone" placeholder="Add new task!" />
        </div>
        <div class="control">
          <button @click="addnewone" class="button is-success">Add</button>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column"></div>
      <div class="column">
        <h2 class="title">Done</h2>
        <ul>
          <li v-for="item in donelist">
            <span  v-show="!item.edit" v-on:dblclick="editme(item, true)" v-text="item.message">
            </span>
            <input type="text" v-show="item.edit" @keyup.enter="editme(item, false)" v-model="item.message">
            </span>
            <button class="button is-danger is-small" @click="didnt(item)">Didn't!</button>
          </li>
        </ul>
      </div>
      <div class="coloumn">
        <h2 class="title">To Do</h2>
        <ul>
          <li v-for="item in todolist">
            <span  v-show="!item.edit" v-on:dblclick="editme(item, true)" v-text="item.message">
            </span>
            <input type="text" v-show="item.edit" @keyup.enter="editme(item, false)" v-model="item.message">
            </span>
            <button class="button is-success is-small" @click="done(item)">Did!</button>
          </li>
        </ul>
      </div>
      <div class="column"></div>
  </div>
  <modal v-if="showModal" @change="showModal=false">Completed!</modal>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script>
Vue.component("modal",{
  template: `<div class="modal is-active">
    <div class="modal-background"></div>
    <div class="modal-content">
    <div class="box">
      <p>
        <slot></slot>
      </p>
      </p>
    </div>
    </div>
    <button @click="$emit('change')" class="modal-close is-large" aria-label="close"></button>
  </div>`,
});
  var app = new Vue({
    el: '#app',
    data: {
      message: "hello",
      newone: "",
      showModal: false,
      tasks : [
        {message: "Do the laundry", state:"complete",'edit':false},
        {message: "Wash Face", state:"incomplete",'edit':false},
        {message: "Write Code", state:"complete",'edit':false},
        {message: "buy watch", state:"incomplete",'edit':false},
        {message: "Pray to God", state:"incomplete",'edit':false},
        {message: "Love one another", state:"incomplete",'edit':false},
      ]
    },
    methods: {
      done(something) {
        something.state = "complete";
      },
      didnt(something) {
        something.state = "incomplete";
      },
      addnewone(){
        if(this.newone =="") return;
        this.tasks.push({message: this.newone, state: "incomplete"});
        this.newone ="";
      },
      editme (thing, val){
        thing.edit = val;
      },
      modalshow(){
        this.showModal = true;
      }

    },
    computed: {
      donelist() {
        return  this.tasks.filter((tsk) => {
            if(tsk.state == "complete")
              return true;
            else {
              return false;
            }
          })
        },

        todolist() {
          return  this.tasks.filter((tsk) => {
              if(tsk.state == "incomplete")
                return true;
              else {
                return false;
              }
            })
          },
    }

  });
</script>
</body>
</html>
